<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
<div id="comment-form-block" class="form-group">
    <form id="comment-form" class="forms-sample" th:object="${commentRequestModel}" th:method="post"
          th:action="@{${postRequestLink}}">

        <div id="error"></div>
        
        <div class="d-flex flex-row align-items-start">
            <img id="avatar-url" class="img-sm rounded-circle" />

            <textarea class="form-control ml-1 shadow-none textarea" th:field="*{content}"
                      required style="resize: vertical"></textarea>
        </div>
        <div class="mt-2 text-right">
            <button class="btn btn-primary btn-sm shadow-none" type="submit">Post
                comment
            </button>
            <button class="btn btn-outline-primary btn-sm ml-1 shadow-none" type="reset">Cancel</button>
        </div>
    </form>
    <script th:inline="javascript">
        $.get([[${userLink}]], function (user) {
            document.getElementById("avatar-url").src= user['avatarURL'];
        });
        
        $("#comment-form").submit(function (e) {

            e.preventDefault(); 
            var form = $(this);

            $.ajax({
                type: form.attr('method'),
                url: form.attr('action'),
                data: form.serialize(),

                beforeSend: function () {
                    $('#error').html('');
                },
                success: function () {
                    $('#comments-content-block').load([[${commentsContentBlockLink}]]);
                    document.getElementById("comment-form").reset();    
                },
                error: function (jqXHR) {
                    $('#error').html('<p class="alert alert-danger">' + jqXHR.responseText + '</p>')
                }
            });
        });
    </script>
</div>
</body>
</html>