<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
<div id="comment-form-block" class="form-group" th:fragment="comment-form(commentForm, postRequestLink)">
    <form id="comment-form" class="forms-sample" th:object="${commentForm}" th:method="post"
          th:action="@{${postRequestLink}}">
        <div class="d-flex flex-row align-items-start">
            <img class="rounded-circle"
                 src="https://i.imgur.com/RpzrMR2.jpg"
                 width="40"/>

            <textarea class="form-control ml-1 shadow-none textarea" th:field="*{content}"
                      required style="resize: vertical"></textarea>
        </div>
        <div class="mt-2 text-right">
            <button class="btn btn-primary btn-sm shadow-none" type="submit">Post
                comment
            </button>
            <button class="btn btn-outline-primary btn-sm ml-1 shadow-none" type="reset">Cancel</button>
        </div>
    </form>
    <script type="text/javascript">
        $("#comment-form").submit(function (e) {

            e.preventDefault(); // avoid to execute the actual submit of the form.
            var form = $(this);
            var actionUrl = form.attr('action');

            $.ajax({
                type: "POST",
                url: actionUrl,
                data: form.serialize(), // serializes the form's elements.
                success: function (data) {
                    $('#comments-content-block').load(data);
                }
            });
        });
    </script>
</div>
</body>
</html>