<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div id="project-form-block" class="form-group">
    <form id="project-form" class="forms-sample"
          th:object="${projectRequestModel}" method="post"
          th:action="@{${postRequestLink}}">

        <div id="error"></div>
        <div id="success"></div>

        <div class="form-group row">
            <div class="input-group col-xs-12">
                <input type="text" id="project-name" class="form-control" placeholder="Project name"
                       th:field="*{name}"/>
                <span class="input-group-append">
                                <button id="submit-project" type="submit"
                                        class="btn btn-primary mr-2 float-right">Create</button>
                                <button type="reset" value="reset" class="btn btn-dark float-right">Cancel</button>
                </span>
            </div>
        </div>
    </form>
    <script th:inline="javascript">
        $("#project-form").submit(function (e) {

            e.preventDefault();

            var form = $(this);
            $.ajax({
                type: form.attr('method'),
                url: form.attr('action'),
                data: form.serialize(),

                beforeSend: function () {
                    $('#success').html('');
                    $('#error').html('');
                },
                success: function (data) {
                    $('#projects-content-block').load([[${projectContentBlockLink}]]);
                    $('#project-form-block').html($(data).html());
                    $('#success').html('<p class="alert alert-success">' + 'Project has been createad' + '</p>')

                    document.getElementById("project-form").reset();
                },
                error: function (jqXHR) {
                    $('#error').html('<p class="alert alert-danger">' + jqXHR.responseText + '</p>')
                }
            });
        });
    </script>
</div>
</body>
</html>