<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Montserrat+Subrayada|Ranga&display=swap"
          rel="stylesheet">
    <title></title>
</head>

<body>
<div class="card card-body">
<div class="form-group">
    <form id="ticket-form" class="forms-sample" th:object="${ticketRequestModel} " th:method="post"
          th:action="@{${postRequestLink}}">

        <div id="ticket-form-error"></div>

        <div class="form-group">
            <label for="description">Bug Short Description</label>
            <input id="description" th:field="*{shortDescription}" type="text" class="form-control form-control-lg"
                   required autofocus
                   placeholder="Description...">
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group row">
                    <label for="status" class="col-sm-3 col-form-label">Status</label>
                    <div class="col-sm-9">
                        <select id="status" class="form-control" th:field="*{status}">
                            <option th:each="status : ${statusList}"
                                    th:value="${status}" th:text="${status}"></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group row">
                    <label for="priority" class="col-sm-3 col-form-label">Priority</label>
                    <div class="col-sm-9">
                        <select id="priority" class="form-control" th:field="*{priority}">
                            <option th:each="priotity : ${priorityList}"
                                    th:value="${priotity}" th:text="${priotity}"></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group row">
                    <label for="severity" class="col-sm-3 col-form-label">Severity</label>
                    <div class="col-sm-9">
                        <select id="severity" class="form-control" th:field="*{severity}">
                            <option th:each="severity : ${severityList}"
                                    th:value="${severity}" th:text="${severity}"></option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <label for="how-to-reproduce">How to Reproduce
                    <small id="message1" class="text-muted float-right message"></small>
                </label>
            </div>
            <textarea id="how-to-reproduce" th:field="*{howToReproduce}" class="form-control"
                      required spellcheck="false" placeholder="Reproduction Steps..."
                      maxlength="3000" rows="10" cols="40" style="resize: vertical"></textarea>
        </div>

        <div class="form-group">
            <div class="row">
                <label for="behaviour">Erroneous Program Behaviour
                    <small id="message2" class="text-muted float-right message"></small>
                </label>
            </div>
            <textarea id="behaviour" th:field="*{erroneousProgramBehaviour}" class="form-control"
                      required spellcheck="false" placeholder="Program Behaviour..."
                      maxlength="3000" rows="10" cols="40" style="resize: vertical"></textarea>
        </div>
        <div class="form-group text-center">
            <button type="submit" class="btn btn-outline-primary btn-lg">Submit</button>
        </div>

    </form>
    <script th:inline="javascript">
        $("#ticket-form").submit(function (e) {
            e.preventDefault();

            var form = $(this);
            $.ajax({
                type: form.attr('method'),
                url:  form.attr('action'),
                data: form.serialize(),

                beforeSend: function (){
                    $('#ticket-form-error').html('');
                },
                success: function (data) {
                    window.location.replace(data);
                },
                error: function (jqXHR){
                    $('#ticket-form-error').html('<p class="alert alert-danger">' + jqXHR.responseText + '</p>')
                }
            });
        });
    </script>

    <script type="text/javascript">
               textArea('how-to-reproduce', 'message1');
               textArea('behaviour', 'message2');
    </script>
</div>
</div>



<script type="text/javascript" th:src="@{/assets/js/test/text-area.js}"></script>

</body>
</html>