<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="table-responsive" th:fragment="project-content(dataSource)">

    <table id="projects-table" class="table table-bordered">
        <thead>
        <tr>
            <th>Name</th>
            <th>Id</th>
        </tr>
        </thead>
        <script th:inline="javascript">
            $(document).ready(function () {
                var oTable = $('#projects-table').DataTable({
                    serverSide: true,
                    deferRender: true,
                    ajax: [[${dataSource}]],
                    columns: [
                        {data: 'name'},
                        {data: 'publicId'},
                    ]
                });
                $('.dataTable').on('click', 'tbody tr', function() {
                    var rowCells = $(this).closest("tr").children();
                    var projectId = rowCells.eq(1).text();
                    //hard code
                    window.location.href = [[${dataSource}]]  + "/" + projectId
                });
                    
            });
        </script>
    </table>
</div>
</body>
</html>