<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="table-responsive">
    <table id="subscribers-table" class="table table-bordered">
        <thead>
        <tr>
            <th>Username</th>
            <th>Remove</th>
        </tr>
        </thead>
    </table>
    <script th:inline="javascript">
        $(document).ready(function () {
            var oTable = $('#subscribers-table').DataTable({
                serverSide: true,
                deferRender: true,
                
                ajax: [[${dataSource}]],
                columns: [
                    // {data: 'image'},
                    {data: 'username'},
                    {data: 'publicId'},
                ]

                    // <button id="remove-subscriber" type="button" class="btn btn-outline-danger btn-sm"
                    //                         th:value="${baseLink} + '/' + ${subscriber.publicId}">
                    //                     <i class="mdi mdi-account-remove"></i>
            });
            $('.dataTable').on('click', 'tbody tr', function () {
                var rowCells = $(this).closest("tr").children();
                var id = rowCells.eq(1).text();
                //hard code
                window.location.href = [[${dataSource}]] + "/" + id
            });
        });


        // $("#remove-subscriber").click(function () {
        //     $.ajax({
        //         type: "DELETE",
        //         url: $('#remove-subscriber').attr('value'),
        //         success: function () {
        //             update([[${dataSource}]], [[${updateId}]]);
        //         }
        //     })
        // })
    </script>
</div>

</body>
</html>