<!DOCTYPE html>
<html lang="en">
<body>
<div class="table-responsive">
    <table id="tickets-table" class="table nowrap table-bordered  ">
        <thead>
        <tr>
            <th>ID</th>
            <th>#</th>
            <th>Short Description</th>
            <th>Status</th>
            <th>Severity</th>
            <th>Priority</th>
            <th>Reported By</th>
            <th>Reported Time</th>
        </tr>
        </thead>
    </table>

    <script th:inline="javascript">
        $(document).ready(function () {
            var oTable = $('#tickets-table').DataTable({
                oLanguage: {
                    sInfoFiltered: ''
                },
                pageLength: 5,
                serverSide: true,
                deferRender: true,
                ajax: [[${dataSource}]],
                order: [
                    [7, 'desc']
                ],
                columns: [
                    {
                        data: 'publicId',
                        visible: false,
                    },
                    {
                        width: '1%',
                        data: null,
                        searchable: false,
                        orderable: false,
                        render: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    {data: 'shortDescription'},
                    {
                        data: 'status',
                        render: function (data) {
                            return data['text']
                        }
                    },
                    {
                        data: 'severity',
                        render: function (data) {
                            return data['text']
                        }
                    },
                    {
                        data: 'priority',
                        render: function (data) {
                            return data['text']
                        }
                    },
                    {
                        data: 'reporter.username',
                        render: function (data, type, row) {
                            var reporter = row['reporter'];
                            var links = row['links'];

                            return '<img src="' + reporter['avatarURL'] + '" class="img-xs rounded-circle">\n' +
                                '<a href="' + getLink(links, 'creator page') + '"> ' +
                                '<h7 class="font-weight-bold text-primary">' + reporter['username'] + '</h7> </a>';
                        }
                    },
                    {
                        data: 'createdTime',
                        render: function (data) {
                            return moment(data, 'YYYY-MM-DD HH:mm:ss').format('MM/DD/YYYY HH:mm:ss')
                        }
                    }
                ],
            });
            $('#tickets-table')
                .on('click', 'tbody tr', function (e) {
                    var currentRow = $(this).closest("tr").children();
                    var links = oTable.row(currentRow).data()['links'];

                    window.location.href = getLink(links, 'page');
                });
        });
    </script>
</div>
</body>
</html>