<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<body>
<div class="table-responsive"
     th:fragment="ticket-record-content(list, contentRequestLink)">

    <div class="text-center"  th:if="${#lists.isEmpty(list)} == true">
        <h5 class="text-muted"> List is Empty </h5>
    </div>

    <div th:if="${#lists.isEmpty(list)} == false">
        <table id="ticket-record-table" data-toggle="bootgrid" class="table table-bordered">
            <thead>
            <tr>
                <th>Id</th>
                <th>Created</th>
            </tr>
            </thead>
            <tbody>
            <tr class="ticket-record-row" th:data-url="${contentRequestLink} +'/'+ ${ticketRecord.publicId}"
                th:each="ticketRecord : ${list}">
                <td th:text="${ticketRecord.publicId}"></td>
                <td th:text="${ticketRecord.lastUpdateTime}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <script th:inline="javascript">
        $(document).ready(function () {
            $('#ticket-record-table').DataTable();
            $(".ticket-record-row").click(function () {
                // window.location = $(this).data("url");
                var url =  $(this).data("url");
                $('#ticket-info-block').load(url);
            })
        });
    </script>
</div>

</body>
</html>