<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="table-responsive">

    <table id="ticket-records-table" class="table nowrap table-bordered display"  style="width:100%" >
        <thead>
        <tr>
            <th>#</th>
            <th>Id</th>
            <th>By</th>
            <th>Created</th>
        </tr>
        </thead>
    </table>
    <script th:inline="javascript">
        $(document).ready(function () {
            var oTable = $('#ticket-records-table').DataTable({
                oLanguage: {
                    sInfoFiltered: ''
                },

                pageLength: 5,
                serverSide: true,
                deferRender: true,
                ajax: [[${dataSource}]],
                order: [
                    [3, 'desc']
                ],
                columns: [
                    {
                        width: '1%',
                        data: null,
                        searchable: false,
                        orderable: false,
                        render: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    {data: 'publicId'},
                    {
                        data: 'creator.username',
                        render: function (data, type, row) {
                            var creator = row['creator'];
                            var links = row['links'];

                            return '<img src="' + creator['avatarURL'] + '" class="img-xs rounded-circle">\n' +
                                '<a href="' + getLink(links, 'creatorPage') + '"> ' +
                                '<h7 class="font-weight-bold text-primary">' + creator['username'] + '</h7> </a>';
                        }
                    },
                    {
                        data: 'createdTime',
                        render: function (data) {
                            return moment(data, 'YYYY-MM-DD HH:mm:ss').format('MM/DD/YYYY HH:mm:ss')
                        }
                    }
                ]
            })
                .on('click', 'tbody tr', function () {
                    var currentRow = $(this).closest("tr").children();
                    var links = oTable.row(currentRow).data()['links'];
                    
                    $('#ticket-details-block').load(getLink(links, 'details'));
                });
        });
    </script>


</div>

</body>
</html>