<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="card">
    <div class="card-body">
        <div class="d-flex flex-row justify-content-between">
            <h4 class="card-title mb-1">Record Details #
            </h4>
            <p class="text-muted mb-1"></p>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="preview-list">
                    <div class="preview-item border-bottom">
                        <!-- Status -->
                        <div class="preview-thumbnail">
                            <div class="preview-icon bg-primary">
                                <i class="mdi mdi-marker-check"></i>
                            </div>
                        </div>
                        <div class="preview-item-content d-sm-flex flex-grow">
                            <div class="flex-grow">
                                <h6 class="preview-subject"></h6>
                                <p id="status" class="text-muted mb-0"></p>
                            </div>
                        </div>
                        <!-- end Status -->
                        <!-- Priority -->
                        <div class="preview-thumbnail">
                            <div class="preview-icon bg-success">
                                <i class="mdi mdi-clipboard-arrow-up-outline"></i>
                            </div>
                        </div>
                        <div class="preview-item-content d-sm-flex flex-grow">
                            <div class="flex-grow">
                                <h6 class="preview-subject"></h6>
                                <p id="priority" class="text-muted mb-0"></p>
                            </div>
                        </div>
                        <!-- end Priority-->
                        <!-- Severity-->
                        <div class="preview-thumbnail">
                            <div class="preview-icon bg-danger">
                                <i class="mdi mdi-alert-outline"></i>
                            </div>
                        </div>
                        <div class="preview-item-content d-sm-flex flex-grow">
                            <div class="flex-grow">
                                <h6 class="preview-subject"></h6>
                                <p id="severity" class="text-muted mb-0"></p>
                            </div>
                        </div>
                        <!-- end Severity-->

                    </div>
                    <div class="preview-item border-bottom">
                        <div class="preview-thumbnail">
                            <div class="preview-icon bg-info">
                                <i class="mdi mdi mdi-clipboard-text"></i>
                            </div>
                        </div>
                        <div class="preview-item-content d-sm-flex flex-grow">
                            <div class="flex-grow">
                                <h6 class="preview-subject"></h6>
                                <div style="resize:vertical; overflow:auto; ">
                                    <p id="description" class="text-muted mb-0" style="white-space: pre-wrap"
                                    ></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="preview-item border-bottom">
                        <div class="preview-thumbnail">
                            <div class="preview-icon bg-primary">
                                <i class="mdi mdi-repeat"></i>
                            </div>
                        </div>
                        <div class="preview-item-content d-sm-flex flex-grow">
                            <div class="flex-grow">
                                <h6 class="preview-subject"></h6>
                                <div style="resize:vertical; overflow:auto; ">
                                    <p id="how-to-reproduce" class="text-muted mb-0" style="white-space: pre-wrap"
                                    ></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="preview-item border-bottom">
                        <div class="preview-thumbnail">
                            <div class="preview-icon bg-warning">
                                <i class=" mdi mdi-settings-box"></i>
                            </div>
                        </div>
                        <div class="preview-item-content d-sm-flex flex-grow">
                            <div class="flex-grow">
                                <h6 class="preview-subject"></h6>
                                <div style="resize:vertical; overflow:auto;">
                                    <p id="behaviour" class="text-muted mb-0" style="white-space: pre-wrap"
                                    ></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="preview-item ">
                        <div class="preview-thumbnail">
                            <div class="preview-icon bg-success">
                                <i class="mdi mdi-lightbulb-on-outline"></i>
                            </div>
                        </div>
                        <div class="preview-item-content d-sm-flex flex-grow">
                            <div class="flex-grow">
                                <h6 class="preview-subject"></h6>
                                <div style="resize:vertical; overflow:auto; ">
                                    <p id="how-to-solve" class="text-muted mb-0" style="white-space: pre-wrap"
                                    ></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script th:inline="javascript">
            $.get([[${ticketRecordLink}]], function (ticket) {
                
                document.getElementById('description').innerHTML = ticket['shortDescription'];
                document.getElementById('status').innerHTML = ticket['status']['text'];
                document.getElementById('priority').innerHTML = ticket['priority']['text'];
                document.getElementById('severity').innerHTML = ticket['severity']['text'];
                document.getElementById('behaviour').innerHTML = ticket['erroneousProgramBehaviour'];
                document.getElementById('how-to-reproduce').innerHTML = ticket['howToReproduce'];
                document.getElementById('how-to-solve').innerHTML = ticket['howToSolve'];
            });
            
        </script>
    </div>
</div>
</body>
</html>