<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Bug Tracker Admin</title>


    <link href="https://cdn.jsdelivr.net/webjars/bootstrap/5.1.3/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script src="https://cdn.jsdelivr.net/webjars/jquery/3.6.0/jquery.min.js"
            th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.0/dist/chart.min.js"
            th:src="@{/webjars/chart.js/3.8.0/dist/chart.min.js}"></script>

    <!-- plugins:css -->
    <link rel="stylesheet"
          th:href="@{/assets/vendors/mdi/css/materialdesignicons.min.css}">
    <link rel="stylesheet"
          th:href="@{/assets/vendors/css/vendor.bundle.base.css}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" th:href="@{/assets/vendors/jvectormap/jquery-jvectormap.css}">
    <link rel="stylesheet" th:href="@{/assets/vendors/flag-icon-css/css/flag-icon.min.css}">
    <link rel="stylesheet" th:href="@{/assets/vendors/owl-carousel-2/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/assets/vendors/owl-carousel-2/owl.theme.default.min.css}">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet"
          th:href="@{/assets/css/style.css}">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="/assets/images/favicon.png"
          th:href="@{assets/images/favicon.png}"/>
</head>
<body>
<div class="container-scroller">
    <!-- partial:partials/_sidebar.html -->
    <div th:replace="fragments/sidebar"></div>
    <!-- partial:partials/_sidebar.html ends -->
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_navbar.html -->
        <div th:replace="fragments/navbar"></div>
        <!-- partial:partials/_navbar.html  ends-->
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <!-- Project List -->
                <div class="row ">
                    <div class="col-12 grid-margin">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">My Projects
                                    <small class="text-muted float-right">
                                        Total Items [[${totalProjects}]] : Page [[${currentPage}]] of
                                        [[${totalPages}]]
                                    </small>
                                </h4>


                                <div class="table-responsive">
                                    <div class="table table-bordered">
                                        <table style="table-layout: fixed" class="table table-hover">
                                            <thead>
                                            <tr>
                                                <th> #</th>
                                                <th>Name</th>
                                                <th>Subscribers</th>
                                                <th class="btn-sm">Bugs Reported</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="project, iStat : ${projectsList}">
                                                <td th:text="${(currentPage -1) * 5  + iStat.index + 1}"/>
                                                <td>
                                                    <a th:href="@{/users/__${user.publicId}__/projects/__${project.name}__}">
                                                        <button type="button" class="btn btn-outline-primary btn-sm"
                                                                th:text="${project.name}"></button>
                                                    </a>
                                                </td>
                                                <td th:text="${#lists.size(project.subscribers)}"/>
                                                <td th:text="${#lists.size(project.bugs)}"/>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div th:replace="fragments/pagination :: paging
                                (baseLink=${'/my-projects'},limit=${5},
                                currentPage=${currentPage},totalPages=${totalPages})"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
            <!-- partial ends-->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- plugins:js -->
<script th:src="@{/assets/vendors/js/vendor.bundle.base.js}"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<script th:src="@{/assets/vendors/progressbar.js/progressbar.min.js}"
        src="/assets/vendors/progressbar.js/progressbar.min.js"></script>
<script th:src="@{/assets/vendors/jvectormap/jquery-jvectormap.min.js}"
        src="/assets/vendors/jvectormap/jquery-jvectormap.min.js"></script>
<script th:src="@{/assets/vendors/chart.js/Chart.min.js}"
        src="/assets/vendors/chart.js/Chart.min.js"></script>
<script th:src="@{/assets/vendors/jvectormap/jquery-jvectormap-world-ill-en.js}"
        src="/assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
<script th:src="@{/assets/vendors/owl-carousel-2/owl.carousel.min.js}"
        src="/assets/vendors/owl-carousel-2/owl.carousel.min.js"></script>
<!-- End plugin js for this page -->
<!-- inject:js -->
<script th:src="@{/assets/js/off-canvas.js}"
        src="/assets/js/off-canvas.js"></script>
<script th:src="@{/assets/js/hoverable-collapse.js}"
        src="/assets/js/hoverable-collapse.js"></script>
<script th:src="@{/assets/js/misc.js}"
        src="/assets/js/misc.js"></script>
<script th:src="@{/assets/js/settings.js}"
        src="/assets/js/settings.js"></script>
<script th:src="@{/assets/js/todolist.js}"
        src="/assets/js/todolist.js"></script>
<!-- endinject -->
<!-- Custom js for this page -->
<script th:src="@{/assets/js/dashboard.js}"></script>
<!-- End custom js for this page -->
</body>
</html>