<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="comment(avatarURL,username, userComment, uploadTime)">
    <div class="d-flex justify-content-between align-items-center">

        <div class="user d-flex flex-row align-items-center">
            <img th:src="${avatarURL}" alt="avatar" class="img-xs rounded-circle">
            <span>
                    <small class="ms-2 font-weight-bold text-primary" th:text="${username}"></small>
            </span>
        </div>

        <small>[[${#dates.format(uploadTime, 'dd-MM-yyyy HH:mm')}]]</small>
    </div>

    <div class="user d-flex flex-row align-items-center" style="position:relative; left:40px">
            <span>
                <small class="font-weight-bold" style="white-space: pre-wrap" th:text="${userComment}"></small>
            </span>
    </div>
</div>

</body>
</html>