<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="comment(username, userComment, uploadTime)">
    <div class="d-flex justify-content-between align-items-center">

        <div class="user d-flex flex-row align-items-center">
            <img src="https://i.imgur.com/hczKIze.jpg" width="30" class="user-img rounded-circle mr-2">
            <span>
                    <small class="font-weight-bold text-primary">[[${username}]]</small>
                </span>
        </div>

        <small>[[${#dates.format(uploadTime, 'dd-MM-yyyy HH:mm')}]]</small>
    </div>

    <div class="user d-flex flex-row align-items-center" style = "position:relative; left:40px">
            <span>
                <small class="font-weight-bold"  style="white-space: pre-wrap">[[${userComment}]]</small>
            </span>
    </div>
</div>

</body>
</html>