<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<nav class="navbar p-0 fixed-top d-flex flex-row">
    <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
        <a class="navbar-brand brand-logo-mini" th:href="@{/home}"><img th:src="@{/assets/images/red-bug.svg}"
                                                                        alt="logo"/></a>
    </div>
    <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="mdi mdi-menu"></span>
        </button>
        <ul class="navbar-nav w-100">
            <li class="nav-item w-100 d-none"></li>
        </ul>
        <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item d-lg-block">
                <a class="nav-link btn btn-success create-new-button" th:href="@{/my-projects}">+ Create New Project</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" id="profileDropdown" href="#" data-toggle="dropdown">
                    <div class="navbar-profile">
                        <div class="count-indicator">
                            <img class="img-xs rounded-circle " th:src="${user.avatarURL}" alt="avatar">
                        </div>

                        <div class="navbar-profile-name">
                            <h5 class="mb-0 font-weight-normal " th:text="${user.username}"></h5>
                            <span th:text="${user.status}"></span>
                        </div>
                        <i class="mdi mdi-dots-vertical sm-2"></i>
                    </div>
                </a>
                <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
                     aria-labelledby="profileDropdown">
                    <a class="dropdown-item preview-item justify-content-center" th:href="@{${userPageLink}}">
                        <h8 class="p-1">Profile</h8>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a th:href="@{/logout}" class="dropdown-item preview-item">
                        <div class="preview-thumbnail">
                            <div class="preview-icon bg-dark rounded-circle">
                                <i class="mdi mdi-logout text-danger"></i>
                            </div>
                        </div>
                        <div class="preview-item-content">
                            <p class="preview-subject mb-1">Log out</p>
                        </div>
                    </a>
                </div>
            </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
                data-toggle="offcanvas">
            <span class="mdi mdi-format-line-spacing"></span>
        </button>
    </div>
</nav>
</body>