<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Bug Tracker Admin</title>

    <!-- Js script -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script th:src="@{/assets/js/test/tickets-info.js}"></script>
    <script th:src="@{/assets/js/test/user-info.js}"></script>
    <!-- end Js script -->

    <!-- plugins:css -->
    <link rel="stylesheet" th:href="@{/assets/vendors/mdi/css/materialdesignicons.min.css}">
    <link rel="stylesheet" th:href="@{/assets/vendors/css/vendor.bundle.base.css}">
    <link rel="stylesheet" media="screen" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"/>
    <!-- end inject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" th:href="@{/assets/vendors/jvectormap/jquery-jvectormap.css}">
    <link rel="stylesheet" th:href="@{/assets/vendors/flag-icon-css/css/flag-icon.min.css}">
    <link rel="stylesheet" th:href="@{/assets/vendors/owl-carousel-2/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/assets/vendors/owl-carousel-2/owl.theme.default.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/vendors/data-tables-1.12.1/datatables.css}"/>
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- end inject -->
    <!-- Layout styles -->
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">
    <!-- End layout styles -->
</head>
<body>
<div class="container-scroller">
    <!-- partial:partials/_sidebar.html -->
    <div th:replace="fragments/sidebar"></div>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_navbar.html -->
        <div th:replace="fragments/navbar"></div>
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="page-header">
                    <h3 class="page-title">My Projects Statistics</h3>
                </div>
                <div class="row">
                    <div id="ticket-info-error"></div>
                    <div id="tickets-reported" class="col-xl-3 col-sm-6 grid-margin stretch-card"></div>
                    <div id="tickets-completed" class="col-xl-3 col-sm-6 grid-margin stretch-card"></div>
                    <div id="tickets-in-progress" class="col-xl-3 col-sm-6 grid-margin stretch-card"></div>
                    <div id="tickets-critical" class="col-xl-3 col-sm-6 grid-margin stretch-card"></div>
                </div>
                <script th:inline="javascript">
                    $.ajax({
                        type: 'GET',
                        url: [[${ticketsInfoLink}]],
                        success: function (result) {
                            ticketsInfo(
                                'tickets-reported',
                                'Reported tickets',
                                result['ticketsReported'],
                                result['ticketsReportedADayAgo']);
                            ticketsInfo(
                                'tickets-completed',
                                'Completed tickets',
                                result['completedTickets'],
                                result['completedTicketsADayAgo']);
                            ticketsInfo(
                                'tickets-in-progress',
                                'Tickets in progress',
                                result['ticketsInProgress'],
                                result['ticketInProgressADayAgo']);
                            ticketsInfo(
                                'tickets-critical',
                                'Critical bugs',
                                result['criticalTickets'],
                                result['criticalTicketsADayAgo']);
                        },
                        error: function (jqXHR) {
                            $('#ticket-info-error').html('<p class="alert alert-danger">' + jqXHR.responseText + '</p>')
                        }
                    });
                </script>

                <div class="row">
                    <div class="col-md-4 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Tickets Status Overall </h4>
                                <div class="chart-container" style="position: relative;">
                                    <canvas id="pieChart" class="chartjs-render-monitor" width="662"
                                            height="330"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Tickets Status Per Week</h4>
                                <div class="chart-container" style="position: relative;">
                                    <canvas id="lineChart" class="chartjs-render-monitor" width="662"
                                            height="330"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <script th:inline="javascript">
                    var ticketsPerWeek;
                    var ticketsStatusOverall;

                    $.ajax({
                        type: 'GET',
                        url: [[${ticketsInfoLink}]],
                        success: function (result) {
                            ticketsPerWeek = result['ticketsStatusPerWeek'];
                            ticketsStatusOverall = result['ticketsStatusOverall'];
                        },
                        async: false
                    });

                    var dataLine = {
                        labels: [
                            '5 weeks ago',
                            '4 weeks ago',
                            '3 weeks ago',
                            '2 weeks ago',
                            '1 week ago',
                        ],
                        datasets: [
                            {
                                label: Object.keys(ticketsPerWeek)[0],
                                backgroundColor: 'rgb(203,36,70)',
                                borderColor: 'rgb(203,36,70)',
                                data: Object.values(ticketsPerWeek)[0].reverse(),
                            },
                            {
                                label: Object.keys(ticketsPerWeek)[1],
                                backgroundColor: 'rgb(238,165,28)',
                                borderColor: 'rgb(238,165,28)',
                                data: Object.values(ticketsPerWeek)[1].reverse(),
                            },
                            {
                                label: Object.keys(ticketsPerWeek)[2],
                                backgroundColor: 'rgb(138,255,99)',
                                borderColor: 'rgb(138,255,99)',
                                data: Object.values(ticketsPerWeek)[2].reverse(),
                            }
                        ]
                    };

                    var configLine = {
                        type: 'line',
                        data: dataLine,
                        options: {
                            scales: {
                                y: {
                                    min: 0,
                                    ticks: {
                                        stepSize: 1
                                    }
                                }
                            }
                        },
                    };

                    var myLineChart = new Chart(
                        document.getElementById('lineChart'),
                        configLine
                    );


                    var dataPie = {
                        labels: Object.keys(ticketsStatusOverall),
                        datasets: [{
                            label: 'Tickets',
                            backgroundColor: ['rgb(255,60,104)', 'rgb(248,181,7)', 'rgb(23,245,8)'],
                            data: Object.values(ticketsStatusOverall),
                        }]
                    };

                    var configPie = {
                        type: 'doughnut',
                        data: dataPie,
                        options: {}
                    };

                    var myChartPie = new Chart(
                        document.getElementById('pieChart'),
                        configPie
                    );

                </script>
               
                <div class="page-header">
                    <h3 class="page-title">My Statistics </h3>
                </div>
                
                <div class="row">
                    <div id="user-info-error"></div>
                    <div id="tickets-reported-by-user" class="col-sm-4 grid-margin"></div>
                    <div id="tickets-completed-by-user" class="col-sm-4 grid-margin"></div>
                    <div id="tickets-subscribed-to" class="col-sm-4 grid-margin"></div>
                    <div class="col-sm-4 grid-margin"></div>
                </div>
                <script th:inline="javascript">
                    $.ajax({
                        type: 'GET',
                        url: [[${userInfoLink}]],
                        success: function (result) {
                            userInfo(
                                'tickets-reported-by-user',
                                'Reported tickets',
                                result['ticketsReported'],
                                result['ticketsReportedADayAgo'],
                                result['ticketsReportedAMonthAgo'],
                                'mdi mdi-file-multiple ');
                            userInfo(
                                'tickets-completed-by-user',
                                'Completed tickets',
                                result['ticketsCompleted'],
                                result['ticketsCompletedADayAgo'],
                                result['ticketsCompletedAMonthAgo'],
                                'mdi mdi-checkbox-multiple-marked');
                            userInfo(
                                'tickets-subscribed-to',
                                'Ticket Subscriptions',
                                result['ticketsSubscribedTo'],
                                result['ticketsSubscribedToADayAgo'],
                                result['ticketsSubscribedToAMonthAgo'],
                                'mdi mdi-bookmark-check');
                        },
                        error: function (jqXHR) {
                            $('#user-info-error').html('<p class="alert alert-danger">' + jqXHR.responseText + '</p>')
                        }
                    });
                </script>

                <div class="row">
                    <div class="col-lg-8 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Tickets Severity Per Week</h4>
                                <div class="chart-container" style="position: relative;">
                                    <canvas id="my-stats-line-chart" class="chartjs-render-monitor" width="662"
                                            height="330"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Tickets Severity Overall </h4>
                                <div class="chart-container" style="position: relative;">
                                    <canvas id="my-stats-pie-chart" class="chartjs-render-monitor" width="662"
                                            height="330"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <script th:inline="javascript">
                    var ticketsSeverityPerWeek;
                    var ticketSeverityOverall;

                    $.ajax({
                        type: 'GET',
                        url: [[${userInfoLink}]],
                        success: function (result) {
                            ticketsSeverityPerWeek = result['ticketsSeverityPerWeek'];
                            ticketSeverityOverall = result['ticketsSeverityOverall'];
                        },
                        async: false
                    });

                    var dataLine = {
                        labels: [
                            '5 weeks ago',
                            '4 weeks ago',
                            '3 weeks ago',
                            '2 weeks ago',
                            '1 week ago',
                        ],
                        datasets: [
                            {
                                label: Object.keys(ticketsSeverityPerWeek)[0],
                                backgroundColor: 'rgb(0,250,0)',
                                borderColor: 'rgb(16,238,33)',
                                data: Object.values(ticketsSeverityPerWeek)[0].reverse(),
                            },
                            {
                                label: Object.keys(ticketsSeverityPerWeek)[1],
                                backgroundColor: 'rgb(238,165,28)',
                                borderColor: 'rgb(238,165,28)',
                                data: Object.values(ticketsSeverityPerWeek)[1].reverse(),
                            },
                            {
                                label: Object.keys(ticketsSeverityPerWeek)[2],
                                backgroundColor: 'rgb(203,36,70)',
                                borderColor: 'rgb(203,36,70)',
                                data: Object.values(ticketsSeverityPerWeek)[2].reverse(),
                            },
                            {
                                label: Object.keys(ticketsSeverityPerWeek)[3],
                                backgroundColor: 'rgb(255,0,0)',
                                borderColor: 'rgb(255,0,0)',
                                data: Object.values(ticketsSeverityPerWeek)[3].reverse(),
                            }
                        ]
                    };

                    var configLine = {
                        type: 'line',
                        data: dataLine,
                        options: {
                            scales: {
                                y: {
                                    min: 0,
                                    ticks: {
                                        stepSize: 1
                                    }
                                }
                            }
                        },
                    };

                    var myLineChart = new Chart(
                        document.getElementById('my-stats-line-chart'),
                        configLine
                    );


                    var dataPie = {
                        labels: Object.keys(ticketSeverityOverall),
                        datasets: [{
                            label: 'Tickets',
                            backgroundColor: ['rgb(0,250,0)', 'rgb(238,165,28)', 'rgb(203,36,70)', 'rgb(255,0,0)'],
                            data: Object.values(ticketSeverityOverall),
                        }]
                    };

                    var configPie = {
                        type: 'doughnut',
                        data: dataPie,
                        options: {}
                    };

                    var myChartPie = new Chart(
                        document.getElementById('my-stats-pie-chart'),
                        configPie
                    );

                </script>

            </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial -->
    </div>
    <!-- main-panel ends -->
</div>
<!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->

<!-- plugins:js -->
<script th:src="@{/assets/vendors/js/vendor.bundle.base.js}"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<script th:src="@{/assets/vendors/progressbar.js/progressbar.min.js}"></script>
<script th:src="@{/assets/vendors/jvectormap/jquery-jvectormap.min.js}"></script>
<script th:src="@{/assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js}"></script>
<script th:src="@{/assets/vendors/owl-carousel-2/owl.carousel.min.js}"></script>

<script th:src="@{/assets/vendors/data-tables-1.12.1/datatables.js}"></script>

<!-- End plugin js for this page -->
<!-- inject:js -->
<script th:src="@{/assets/js/off-canvas.js}"></script>
<script th:src="@{/assets/js/hoverable-collapse.js}"></script>
<script th:src="@{/assets/js/misc.js}"></script>
<script th:src="@{/assets/js/settings.js}"></script>

<!-- endinject -->
<!-- Custom js for this page -->
<script th:src="@{/assets/js/dashboard.js}"></script>
<script th:src="@{/assets/js/test/load-into.js}"></script>
<script th:src="@{/assets/js/test/update.js}"></script>
<script th:src="@{/assets/js/test/serialize.js}"></script>

<script th:src="@{/assets/js/test/get-link.js}"></script>


<!-- End custom js for this page -->
</body>
</html>