<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Corona Admin</title>

    <link th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>

    <!-- plugins:css -->
    <link rel="stylesheet" th:src="@{/assets/vendors/mdi/css/materialdesignicons.min.css}">
    <link rel="stylesheet" th:src="@{/assets/vendors/css/vendor.bundle.base.css}">
    <!-- endinject -->

    <!-- Layout styles -->
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">
    <!-- End layout styles -->
</head>
<body>
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="row w-100 m-0">
            <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
                <div class="card col-lg-4 mx-auto">
                    <div class="card-body px-5 py-5">
                        <h3 class="card-title text-center mb-3">Register</h3>
                        <form class="form-horizontal" th:action="@{/users}" th:object="${userRegisterModel}"
                              method="post">

                            <div th:if="${#fields.hasErrors()}">
                                <p class="alert alert-danger" th:if="${#fields.hasErrors('username')}"
                                >Username length should be between 4 and 30 characters</p>
                                <p class="alert alert-danger" th:if="${#fields.hasErrors('email')}"
                                >User with such an email already exists</p>
                            </div>

                            <div class="form-group">
                                <label for="username">Username</label>
                                <input id="username" type="text" th:field="*{username}" class="form-control p_input"
                                       required autofocus>
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input id="email" type="email" th:field="*{email}" class="form-control p_input"
                                       required>
                            </div>
                            <div class="form-group">
                                <label for="password">Password </label>
                                <input id="password" type="password" th:field="*{password}" class="form-control p_input"
                                       required>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-outline-primary btn-block enter-btn">Submit
                                </button>
                            </div>
                            <p class="sign-up text-center">Already have an Account?<a th:href="@{/login}"> Login</a></p>

                            <div class="card corona-gradient-card mt-2">
                                <div class="card-body py-0 px-0 px-sm-3">
                                    <div class="row align-items-center">
                                        <h6 class="mt-2">You are not required to use the actual email</h6>
                                        <p> No validation will be done on it</p>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- row ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- plugins:js -->
<script th:src="@{/assets/vendors/js/vendor.bundle.base.js}"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<!-- End plugin js for this page -->
<!-- inject:js -->
<script th:src="@{/assets/js/off-canvas.js}"></script>
<script th:src="@{/assets/js/hoverable-collapse.js}"></script>
<script th:src="@{/assets/js/misc.js}"></script>
<!-- endinject -->
</body>
</html>