<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Js script -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <!-- end Js script -->

    <!-- plugins:css -->
    <link rel="stylesheet" th:href="@{/assets/vendors/mdi/css/materialdesignicons.min.css}">
    <link rel="stylesheet" th:href="@{/assets/vendors/css/vendor.bundle.base.css}">
    <link rel="stylesheet" media="screen" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"/>
    <!-- end inject -->

    <!-- Plugin css for this page -->
    <link rel="stylesheet" th:href="@{/assets/vendors/jvectormap/jquery-jvectormap.css}">
    <link rel="stylesheet" th:href="@{/assets/vendors/flag-icon-css/css/flag-icon.min.css}">
    <link rel="stylesheet" th:href="@{/assets/vendors/owl-carousel-2/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/assets/vendors/owl-carousel-2/owl.theme.default.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/vendors/data-tables-1.12.1/datatables.css}"/>
    <!-- End plugin css for this page -->

    <!-- inject:css -->
    <!-- end inject -->
    <!-- Layout styles -->
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">
    <!-- End layout styles -->
</head>
<body>


    <div class="container py-5">

        <div class="row d-flex justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-4">

                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center p-3"
                         style="border-top: 4px solid #ffa900;">
                        <h5 class="mb-0">Chat messages</h5>
                        <div class="d-flex flex-row align-items-center">
                            <span class="badge bg-warning me-3">20</span>
                            <i class="fas fa-minus me-3 text-muted fa-xs"></i>
                            <i class="fas fa-comments me-3 text-muted fa-xs"></i>
                            <i class="fas fa-times text-muted fa-xs"></i>
                        </div>
                    </div>
                    <div class="card-body" data-mdb-perfect-scrollbar="true" style="position: relative; height: 200px">

                        <div class="d-flex justify-content-between">
                            <p class="small mb-1">Timona Siera</p>
                            <p class="small mb-1 text-muted">23 Jan 2:00 pm</p>
                        </div>
                        <div class="d-flex flex-row justify-content-start">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava5-bg.webp"
                                 alt="avatar 1" style="width: 45px; height: 100%;">
                            <div>
                                <p class="small p-2 ms-3 mb-3 rounded-3" style="background-color: #f5f6f7;">For what reason
                                    would it
                                    be advisable for me to think about business content?</p>
                            </div>
                        </div>

                        <div class="d-flex justify-content-between">
                            <p class="small mb-1 text-muted">23 Jan 2:05 pm</p>
                            <p class="small mb-1">Johny Bullock</p>
                        </div>
                        <div class="d-flex flex-row justify-content-end mb-4 pt-1">
                            <div>
                                <p class="small p-2 me-3 mb-3 text-white rounded-3 bg-warning">Thank you for your believe in
                                    our
                                    supports</p>
                            </div>
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava6-bg.webp"
                                 alt="avatar 1" style="width: 45px; height: 100%;">
                        </div>

                        <div class="d-flex justify-content-between">
                            <p class="small mb-1">Timona Siera</p>
                            <p class="small mb-1 text-muted">23 Jan 5:37 pm</p>
                        </div>
                        <div class="d-flex flex-row justify-content-start">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava5-bg.webp"
                                 alt="avatar 1" style="width: 45px; height: 100%;">
                            <div>
                                <p class="small p-2 ms-3 mb-3 rounded-3" style="background-color: #f5f6f7;">Lorem ipsum dolor
                                    sit amet
                                    consectetur adipisicing elit similique quae consequatur</p>
                            </div>
                        </div>

                        <div class="d-flex justify-content-between">
                            <p class="small mb-1 text-muted">23 Jan 6:10 pm</p>
                            <p class="small mb-1">Johny Bullock</p>
                        </div>
                        <div class="d-flex flex-row justify-content-end mb-4 pt-1">
                            <div>
                                <p class="small p-2 me-3 mb-3 text-white rounded-3 bg-warning">Dolorum quasi voluptates quas
                                    amet in
                                    repellendus perspiciatis fugiat</p>
                            </div>
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava6-bg.webp"
                                 alt="avatar 1" style="width: 45px; height: 100%;">
                        </div>

                    </div>
                    <div class="card-footer text-muted d-flex justify-content-start align-items-center p-3">
                        <div class="input-group mb-0">
                            <input type="text" class="form-control" placeholder="Type message"
                                   aria-label="Recipient's username" aria-describedby="button-addon2" />
                            <button class="btn btn-warning" type="button" id="button-addon2" style="padding-top: .55rem;">
                                Button
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>


    <!-- container-scroller -->
    <!-- plugins:js -->
    <script th:src="@{/assets/vendors/js/vendor.bundle.base.js}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script th:src="@{/assets/vendors/progressbar.js/progressbar.min.js}"></script>
    <script th:src="@{/assets/vendors/jvectormap/jquery-jvectormap.min.js}"></script>
    <script th:src="@{/assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js}"></script>
    <script th:src="@{/assets/vendors/owl-carousel-2/owl.carousel.min.js}"></script>

    <script th:src="@{/assets/vendors/data-tables-1.12.1/datatables.js}"></script>
    <script th:src="@{/assets/vendors/perfect-scrollbar/dist/perfect-scrollbar.min.js}"></script>
    <!-- End plugin js for this page -->

    <!-- inject:js -->
    <script th:src="@{/assets/js/off-canvas.js}"
            src="/assets/js/off-canvas.js"></script>
    <script th:src="@{/assets/js/hoverable-collapse.js}"
            src="/assets/js/hoverable-collapse.js"></script>
    <script th:src="@{/assets/js/misc.js}"
            src="/assets/js/misc.js"></script>
    <script th:src="@{/assets/js/settings.js}"
            src="/assets/js/settings.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script th:src="@{/assets/js/dashboard.js}"></script>
    <script th:src="@{/assets/js/test/load-into.js}"></script>

</body>
</html>