<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/dt-1.12.1/datatables.min.css"/>
</head>

<body>
<div class="table-responsive" th:fragment="subscribers(list, baseLink, updateId)">

    <div class="text-center"  th:if="${#lists.isEmpty(list)} == true">
        <h5 class="text-muted"> List is Empty </h5>
    </div>

    <div th:if="${#lists.isEmpty(list)} == false">
        <table id="subscribers-table" data-toggle="bootgrid" class="table table-bordered">
            <thead>
            <tr>
                <th>User</th>
                <th>Username</th>
                <th> Remove</th>
            </tr>
            </thead>
            <tbody>
            <tr class='subscribers-row' th:data-url="'/users/' + ${subscriber.publicId}"
                th:each="subscriber, iStat : ${list}">
                <td class="py-1"><img alt="image"></td>
                <td th:text="${subscriber.username}"></td>
                <td>
                    <button id="remove-subscriber" type="button" class="btn btn-outline-danger btn-sm"
                            th:value="${baseLink} + '/' + ${subscriber.publicId}">
                        <i class="mdi mdi-account-remove"></i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <script th:inline="javascript">
        $(document).ready(function () {
            $('#subscribers-table').DataTable();
            // $(".subscribers-row").click(function () {
            //     window.location = $(this).data("url");
            // })
        });
        $("#remove-subscriber").click(function () {
            $.ajax({
                type: "DELETE",
                url: $('#remove-subscriber').attr('value'),
                success: function () {
                    update([[${baseLink}]], [[${updateId}]]);
                }
            })
        })
    </script>
</div>

<div class="table-responsive" th:fragment="projects(list, baseLink)">

    <table id="projects-table" data-toggle="bootgrid" class="table table-bordered">
        <thead>
        <tr>
            <th>Name</th>
            <th>Subscribers</th>
            <th>Bugs Reported</th>
        </tr>
        </thead>
        <tbody>
        <tr class="click-row" th:data-url="${baseLink} + '/' + ${project.name}"
            th:each="project : ${list}">

            <td th:text="${project.name}"/>
            <td th:text="${#lists.size(project.subscribers)}"/>
            <td th:text="${#lists.size(project.bugs)}"/>
        </tr>
        </tbody>
    </table>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#projects-table').DataTable();
            $(".click-row").click(function () {
                window.location = $(this).data("url");
            })
        });
    </script>
</div>

<div class="table-responsive" th:fragment="tickets(list, baseLink)">

    <table id="tickets-table" data-toggle="bootgrid" class="table  table-bordered  ">
        <thead>
        <tr>
            <th> ID</th>
            <th>Short Description</th>
            <th>Status</th>
            <th>Severity</th>
            <th>Priority</th>
            <th>Reported By</th>
            <th>Reported Time</th>
        </tr>
        </thead>
        <tbody>
        <tr class='ticket-row' th:data-url="${baseLink} + '/' + ${ticket.publicId}"
            th:each="ticket : ${list}">

            <td th:text="${ticket.publicId}"></td>
            <td th:text="${ticket.shortDescription}"></td>
            <td th:text="${ticket.status}"></td>
            <td th:text="${ticket.severity}"></td>
            <td th:text="${ticket.priority}"></td>
            <td th:text="${ticket.reporter.username}"></td>
            <td th:text="${ticket.reportedTime}"></td>
        </tr>
        </tbody>
    </table>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#tickets-table').DataTable();
            $('.ticket-row').click(function () {
                window.location = $(this).data("url");
            })
        });
    </script>
</div>


<script type="text/javascript" src="https://cdn.datatables.net/v/bs5/dt-1.12.1/datatables.min.js"></script>
<script th:src="/assets/js/test/update.js"></script>
</body>
</html>