<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div id="my-projects" class="card">
    <div class="card-body">  
        <h4 class="card-title">My Projects</h4>
        <!-- List Content        -->
        <div id="projects-content-block" class="form-group"></div>
        
        <!-- Add Project Form-->
        <div th:insert="forms/project-form ::
                                    project-form(
                                            projectRequestModel=${projectRequestModel},
                                            postRequestLink=${baseLink},
                                            projectContentBlockLink=${projectContentBlockLink})">
        </div>
    </div>
    <script th:inline="javascript">
        $("#projects-content-block").load([[${projectContentBlockLink}]]);
    </script>
</div>

</body>
</html>