<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div id="project-body">
    <div class="page-header group">
        <h3 id="project-name" class="page-title"></h3>
        <div class="card stretch-card">
            <div class="row">
                <div class="d-flex align-items-center align-self-start">
                    <h4 class="ms-2 mt-2 ">Creator:</h4>
                    <div id="project-creator" class="d-flex align-items-center align-self-start"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row ">
        <div id="tickets-block" class="col-12 grid-margin"></div>
        <div id="subscribers-block" class="col-6 grid-margin"></div>
        <div id="comments-block" class="col-6 grid-margin"></div>
    </div>

    <div class="form-group text-center">
        <div id="project-error"></div>

        <button th:if=" ${isCreator} "
                id="delete-project" type="button" class="btn btn-outline-danger btn-sm">
            <i class="mdi mdi-delete-forever"></i>Delete Project
        </button>


        <button th:unless="${isCreator}"
                id="unsubscribe-project" type="button" class="btn btn-outline-danger btn-sm">
            <i class=" mdi mdi-account-off "></i>Unsubscribe
        </button>
    </div>

    <script th:inline="javascript">
        var projectName;

        loadName();
        $("#tickets-block").load([[${ticketsLink}]]);
        $("#subscribers-block").load([[${subscribersLink}]]);
        $("#comments-block").load([[${commentsLink}]]);

        $("#delete-project").click(function () {
            if (confirm('Are you sure you want to delete this project')) {
                $.ajax({
                    type: "DELETE",
                    url: [[${selfLink}]],
                    success: function () {
                        alert(projectName + ' has been deleted')
                        window.location.href = [[${#request.contextPath}]] + '/home'
                    }
                })
            }
        });
        $("#unsubscribe-project").click(function () {
            if (confirm('Are you sure you want to unsubscribe from this project')) {
                $.ajax({
                    type: "DELETE",
                    url: [[${subscriberSourceLink}]] + '/' + [[${user.publicId}]],
                    success: function () {
                        alert("You have unsubscribed from " + projectName)
                        window.location.href = [[${#request.contextPath}]] + '/home'
                    },
                    error: function (jqXHR) {
                        $('#project-error').html('<p class="alert alert-danger">' + jqXHR.responseText + '</p>')
                    }
                })
            }
        });

        function loadName() {
            $.ajax({
                url: [[${selfLink}]],
                success: function (project) {
                    projectName = project['name'];
                    const creator = project['creator'];
                    var projectHead = projectName;

                    if ([[${isCreator}]]) {
                        projectHead += ' <button type="button" onclick="loadEditForm()" class="btn btn-outline-warning btn-sm btn-rounded">\n' +
                            '            <i class="mdi mdi-pencil"></i>\n' +
                            '        </button>';
                    }

                    $('#project-name').html(projectHead);
                    $('#project-creator').html(
                        '<img src="' + creator['avatarURL'] + '" alt="avatar" class="ms-2 mt-2 mb-2 img-xs rounded-circle">\n' +
                        '<a href="' + project['_links']['creatorPage']['href'] + '"> ' +
                        '<h7 class="ms-2 mr-2 font-weight-bold text-primary">' + creator['username'] + '</h7> ' +
                        '</a>'
                    );
                },
            });
        }

        function loadEditForm() {
            $('#project-name').load([[${projectEditFormLink}]]);
        }
    </script>
</div>
</body>
</html>