<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div id="my-projects" class="card">
    <div class="card-body">  
        <h4 class="card-title">My Projects</h4>
        <!-- List Content        -->
        <div id="projects-content-block" class="form-group"></div>
        
        <!-- Add Project Form-->
        <div id="projects-form-block"></div>
    </div>
    <script th:inline="javascript">
        $("#projects-content-block").load([[${projectContentBlockLink}]]);
        $("#projects-form-block").load([[${projectFormBlockLink}]]);
    </script>
</div>

</body>
</html>