<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div id="subscribers-body" class="card">
    <div class="card-body">
        <h4 class="card-title">Subscribers</h4>
        <!-- List Content        -->
        <div id="subscribers-content-block" class="form-group"></div>
        
        <!-- Subscriber Form -->
        <div th:insert="forms/subscriber-form ::
                                    subscriber-form(
                                        subscriberRequestModel=${subscriberRequestModel},
                                        postRequestLink=${baseLink},
                                        subscribersContentBlockLink=${subscribersContentBlockLink})">
        </div>
    </div>
    <script th:inline="javascript">
        $("#subscribers-content-block").load([[${subscribersContentBlockLink}]]);
    </script>
</div>

</body>
</html>